* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --header-height: 100px;
    --footer-height: 120px;

    --bg-main: #0b0f14;

    --bg-card: #0f151b;
    --bg-results: #121d29;
    --bg-card-hover: #214264;

    --border: #0e3e75;
    --border-light: #1965bd;

    --text-basic: #ffffff;
    --text-primary: #1965bd;
    --text-secondary: #9faebe;

    --accent: #165399;
    --accent-2: #1e74d6;
    --accent-hover: #0077ff;
    --accent-glow: rgba(59, 130, 246, 0.25);

    --success: #22c55e;
    --error: #ef4444;
}