/* Mode Button */
.mode_button {
    font-weight: 600;

    width: 25%;
    padding: 12px;

    color: white;
    background: linear-gradient(135deg,
            var(--accent-2),
            var(--accent));
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.15s ease;
}

.mode_button:hover {
    background: var(--accent-hover);
    box-shadow: 2px 5px 8px var(--accent-glow);

    transform: translateY(-1px);
}

/* Check Button */
.check_button {
    font-weight: 600;

    width: 100%;
    padding: 12px;

    color: white;
    background: linear-gradient(135deg,
            var(--accent-2),
            var(--accent));
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.15s ease;
}

.check_button:hover {
    background: var(--accent-hover);
    box-shadow: 2px 5px 8px var(--accent-glow);

    transform: translateY(-1px);
}

/* Delete Button */
.delete_button {
    background: transparent;
    color: var(--error);
    border: 1px solid var(--border);

    padding: 4px 10px;
    border-radius: 6px;

    cursor: pointer;
    transition: 0.15s;
}

.delete_button:hover {
    background: rgba(239, 68, 68, 0.1);
    border-color: var(--error);
    box-shadow: 2px 2px 10px var(--error); 
}

@media (max-width:620px) {
    .mode_button {
        width: 50%;
    }
}