button {
    font-weight: 600;

    width: 25%;
    padding: 12px;

    color: white;
    background: linear-gradient(135deg,
            var(--accent-2),
            var(--accent));
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.15s ease;
}

button:hover {
    background: var(--accent-hover);
    box-shadow: 2px 5px 8px var(--accent-glow);

    transform: translateY(-1px);
}