.selected_section {
    padding: 24px;
    margin-bottom: 24px;

    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.selected_section h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;

    padding-bottom: 12px;

    color: var(--text-primary);
}

.selected_container {
    max-height: 500px;
    padding: 24px;
    
    overflow-y: auto;
    scrollbar-width: none;
}

.selected_type_section {
    text-align: center;
    
    padding: 12px;
    margin-bottom: 24px;

    border: 1px solid var(--border);
    border-radius: 10px;
}

.selected_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    padding: 12px;
    margin: 6px 0;
}

.selected_item span {
    width: 80%;
}

@media (max-width: 620px) {
    .selected_section {
        padding: 12px;
    }
    
    .selected_container {
        padding: 12px;
    }
    
    .selected_type_section {
        padding: 12px 6px;
        margin-bottom: 12px;
    }
}